name: Secret Scanning con Gitleaks

on:
  pull_request:
    branches:
      - develop
  push:
    branches:
      - develop

jobs:
  gitleaks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Scan for secrets
        uses: zricethezav/gitleaks-action@v2
