name: Semgrep SAST

on:
  pull_request:
    branches:
      - develop
  push:
    branches:
      - develop

jobs:
  semgrep:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Run Semgrep (full scan)
        uses: returntocorp/semgrep-action@v1
        env:
          SEMGREP_FORCE_FULL_SCAN: 1
        with:
          config: >-
            p/owasp-top-ten
            p/python
            p/security-audit
            p/security
            p/secrets
            p/secrets-basics
          include: src/